/* LAYOUT */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "lato";
  color:$font-color;
}

.emc2{
  position:relative;
}

.container{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.d-flex{
  display: flex;
}

.row{
  width:100%;
}


.flex-1{
  float:left;
  flex:1;
}

.flex-2{
float:left;
flex:2;
}

.flex-3{
float:left;
flex:3;
}

.flex-4{
float:left;
flex:4;
}

/* CLEARFIX */
.row::after{
  content:"";
  display: table;
  clear:both;
}

.button{
  background-color: #32488D;
  color:white;
  width:200px;
  height:40px;
  border:0px;
  border-radius:5px;
  font-size:14px;
  padding:5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:10px;

  img{
    height:100%;
  };
};

section{
  margin-bottom:100px;
};
