header{
  nav{
    border-bottom:1px solid black;
    align-items: center;
    height:75px;

    .right-nav{

      ul{
        list-style: none;
        display:flex;
        justify-content: flex-end;
      };

      li{
        display:inline;
        margin-right: 20px;
      };
    };
  };

  main{
    .left-section{
      flex-direction: column;
      justify-content: space-around;


      .buttons-container{
        justify-content: space-between;
        align-items: center;
        width:50%;

        span{
          margin:10px;
        }

      };

    };
    .right-section{
      img{
        width:100%;
      };
    };
  };
};
