.section-2 ,.section-4{

  .left-section{
    img{
      width:100%
    };
  }
  .right-section{
    .sub-right-section{
      width: 50%;
      flex-direction:column;
      justify-content: space-between;
      img{
        width:100%;
      }
    }
  }
}

.section-3, .section-5{

  .right-section{
    img{
      width:100%
    };
  };

  .left-section{
    justify-content: flex-end;
    .sub-left-section{
      width: 50%;
      flex-direction:column;
      justify-content: space-between;
      img{
        width:100%;
      }
    }
  }

}

@media screen and (max-width: 992px){
  .section-2 > .row ,.section-4 > .row{
    flex-direction: column;

    .right-section{
      text-align: center;
      justify-content: center;
    };

    .left-section{
      display: none;
    }
  }

  .section-3 > .row ,.section-5 > .row{
    flex-direction: column;

    .left-section{
      text-align: center;
      justify-content: center;
    };

    .right-section{
      display: none;
    }
  }
}
